<h1><%= @user.name %></h1>
<p>メールアドレス: <%= @user.email %></p>

<ul class="user-tabs">
  <li class="active"><%= link_to 'My post', @user %></li>
  <li><%= link_to 'My favorites', "/users/#{@user.id}/favorites" %></li>
</ul>

<% @user.posts.each do |post| %>
  <% favorites_count = Favorite.where(post_id: post.id).count %>
  <%= link_to post, class: "image" do %>
    <%= image_tag post.image %>
    <p class="image_text"><i class="fas fa-heart"> <%= "#{favorites_count}件" %></i></p>
  <% end %>
<% end %>

<br>
<br>
<%= link_to posts_path do %>
  <i class="fas fa-chevron-left"></i>もどる
<% end %>
